table {
   border-collapse: collapse;
   border: 1px solid black;
   text-align: center;
    table-layout: auto;
  width: 180px; 
}
td, th {
  border: 1px solid black;
  width: 30px;
  height:30px;
  background-color:aqua;
}